:root {
  --darkblue: #003b6d;
  --midblue: #3882F6;
  --lightblue: #6699cc;
  --white: #ffffff;
  --lightgrey: #ebedf3;
  --midgrey: #BDBDBD;
  --darkgrey:  #676767;
  --black: #000000;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 1em;
  /*font-family: Helvetica, sans-serif;*/
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  background-color: var(--darkblue);
  color: var(--lightgrey);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 128px;
  flex-shrink: 0;
  font-size: 0.8rem;
}

header {
  background-color: var(--darkblue);
  color: var(--lightgrey);
  display: flex;
  padding: 8px 116px;
  align-items: center;
  font-size: 0.9rem;
}

#logo {
  max-width: 60px;
  /*display: inline-block;*/
  border-radius: 0.5rem;
}

.title p {
  margin: 0 0 0 1rem;
}

nav {
  display: flex;
  margin-left: auto;
  align-items: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: auto;
  display: flex;
  gap: 24px;
}

.main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

.options {
  background-color: var(--white);
  color: var(--darkblue);
  font-weight: 900;
  display: flex;
  flex: 1 0 auto;
  justify-content: space-around;
  align-items: stretch;
}

.shortcut {
  background-color: var(--white);
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.shortcut button {
  background-color: var(--midblue);
  color: var(--white);
  font-weight: 900;
  font-size: 1rem;
  border-style: none;
  border-radius: 0.5rem;
  padding: 10px;
}

.new {
  background-image: url("img/dew_salyasin_pixabay_alpha45.png");
  background-size: cover;
  background-repeat: no-repeat;
  /*margin: 6px 3px 6px 0px;*/
}

.returning {
  background-image: url("img/fields_alpha45.png");
  background-size: cover;
  background-repeat: no-repeat;
  /*margin: 6px 0px 6px 3px;*/
}

.about {
  background-color: var(--darkblue);
  color: var(--lightgrey);
  padding: 36px 128px 36px 128px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 48px;
  font-size: 2rem;
}

.about img {
  max-width: 400px;
  margin-left: 50px; 
}