:root {
  --darkblue: #003b6d;
  --lightblue: #6699cc;
  --white: #ffffff;
  --lightgrey: #ebedf3;
  --midgrey: #BDBDBD;
  --darkgrey:  #676767;
}

header {
  background-color: var(--darkblue);
  color: var(--lightgrey);
}