:root {
  --darkblue: #1F2937;
  --midblue: #3882F6;
  --lightblue: #6699cc;
  --white: #ffffff;
  --lightgrey: #ebedf3;
  --midgrey: #BDBDBD;
  --darkgrey:  #676767;
  --black: #000000;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 1em;
  /*font-family: Helvetica, sans-serif;*/
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

button {
  background-color: var(--midblue);
  color: var(--white);
  font-weight: 900;
  font-size: 1.5rem;
  border-style: none;
  border-radius: 0.5rem;
  padding: 10px;
}

.main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  colour: var(--midgrey)
}

/* FOOTER */

footer {
  background-color: var(--darkblue);
  color: var(--lightgrey);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 116px;
  flex-shrink: 0;
  font-size: 1rem;
}

/* HEADER */

header {
  background-color: var(--darkblue);
  color: var(--lightgrey);
  display: flex;
  padding: 8px 116px;
  align-items: center;
  font-size: 1.2rem;
}

.stamp {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
}

#logo {
  max-width: 78px;
  border-radius: 0.5rem;
}

#logo_div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title p {
  margin: 0 0 0 1rem;
}

nav {
  display: flex;
  margin-left: auto;
  align-items: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul {
  margin-left: auto;
  gap: 24px;
}

/* HOME PAGE */

.options {
  background-color: var(--white);
  color: var(--darkblue);
  font-weight: 900;
  display: flex;
  flex: 1 0 auto;
  justify-content: space-around;
  align-items: stretch;
}

.shortcut {
  background-color: var(--white);
  font-size: 2.5rem;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.new {
  background-image: url("img/dew_salyasin_pixabay_alpha45.png");
  background-size: cover;
  background-repeat: no-repeat;
  /*margin: 6px 3px 6px 0px;*/
}

.returning {
  background-image: url("img/fields_alpha45.png");
  background-size: cover;
  background-repeat: no-repeat;
  /*margin: 6px 0px 6px 3px;*/
}

.about {
  background-color: var(--darkblue);
  color: var(--lightgrey);
  padding: 36px 128px 36px 128px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 24px;
  font-size: 2.8rem;
}

.about p {
  margin: 0;
}

.about #description {
  font-size: 1.5rem;
  text-align: right;
}

.about img {
  max-width: 400px;
  margin-left: 50px; 
}

/*TOOL*/

input {
  font-size: 1.5rem;
}

#drop_zone {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  align-items: center;
  justify-content: center;
  border: 2px dashed;
  border-radius: 2rem;
  margin: 3rem 25%;
  padding: 1rem;
  font-size: 2rem;
  color: var(--midblue);
  position: relative;
}

#instructions {
  position: absolute;
  bottom: 2rem;
}

#drag_drop p {
  display: flex;
  color: var(--darkgrey);
  font-weight: 900;
  font-size: 3rem;
  text-align: center;
  margin: 0;
}

#drop_zone.hover,
#drop_zone.hover #drag_drop p {
  color: var(--white);
  background-color: var(--darkgrey);
}

#tool_bar {
  border: 2px solid var(--darkblue);
  display: flex;
  flex: 1 0 auto;
  margin: 16px 116px 0px 116px;
  justify-content: space-around;
  align-items: center;
  color: var(--darkblue);
  font-size: 1.2rem;
 }

 #upload,
 #criteria {
  border-right: 1px solid var(--darkblue);
  width: calc(100% / 3);
  text-align: center;
  padding: 12px 0px;
 }

 #criteria,
 #success {
  border-left: 1px solid var(--darkblue);
  width: calc(100% / 3);
  text-align: center;
  padding: 12px 0px;
 }